body 
{
    font-family: Arial, sans-serif;
    background-color: rgba(229, 235, 247, 0.89);
    color: #333;
    margin: 0;
    padding: 0;
}

h1 
{
    color: #070064;
    background-color: rgba(128, 161, 221, 0.89);
    text-align: center;
    padding: 20px;
    margin: 0;
}

h2 
{
    color: #070064;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

h3
{
    color: #070064;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

#h3
{
    color: #070064;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

input
{
    margin-left: 20px;
}

#text
{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}