body{
    background-color: rgba(128, 161, 221, 0.89);
}
#div1{
    background-color: rgba(28, 121, 243, 0.863);
}
h2{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
p{
    margin-top: 6%;
    font-size: 170%;
    text-align: start;
    margin-left: 4%;
    margin-right: 4%;
}
img{
    margin-top: 5%;
    margin-right: 3%;
    display: block;
    height: 450px;
    width: 800px;

}
#div2{
    display: flex;
}