html{
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(196, 216, 235);
}
h2{
    margin-top: 3%;
    text-align: center;
    font-size: 240%;
    font-weight: bold;
}
h4{
    color: rgba(23, 143, 23, 0.767);
    margin-top: 5%;
    font-size: 180%;
    text-align: center;
}
#list{
    margin-left: 10%;
}
.lists{
    color: rgba(8, 68, 8, 0.712);
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
    padding-top: 1.2%;
    text-align: center;
    margin-right: 17%;
}
#footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    background-color: rgba(63, 60, 60, 0.836);
    color: white;
    text-align: center;
    margin-top: auto;
    margin-left: 0%;
    width: 100%;
    left: 0;
    bottom: 0;
}
#copy{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacts{
    margin-right: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}