body{
    background-image: url("home_page_background.jpg");
    background-repeat: no-repeat;
}
div{
    font-weight: bold;
    font-size: 175%;
    color: rgba(31, 230, 31, 0.842);
    margin-top: 24%;
    text-align: center;
}
#motto{
    padding-top: 0.5%;
}