body{
    background-image: url("home_page_background.jpg");
    background-repeat: no-repeat;
}
div{
    font-weight: bold;
    font-size: 200%;
    color: rgba(21, 52, 228, 0.842);
    margin-top: 14%;
    margin-right: 0.5%;
    text-align: center;
}
#motto{
    padding-top: 0.3%;
}
#text{
    text-align: center;
    font-size: 210%;
    color: yellow;
    margin-top: 6%;
    margin-right: 5%;
}