body 
{
    font-family: Arial, sans-serif;
    background-color: rgba(128, 161, 221, 0.89);
    color: #333;
    margin: 0;
    padding: 0;
}

h1 
{
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: rgba(28, 121, 243, 0.863);
    margin: 0;
}

h2 
{
    color: #000000;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

img
{
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 2%;
}